

<!-- <div>
    <button (click)="firstMethod($event)">First</button>
</div>

<div>
    <button (click)="secondMethod($event)">Second</button>
</div> -->

<div>
    <button>Test Button</button>
</div>
<div>
    <button>Test Button</button>
</div>
<div>
    <button>Test Button</button>
</div>
<div>
        <button>Test Button</button>
</div>
<div>
    <button>Test Button</button>
</div>
<div>
    <button>Test Button</button>
</div>
<div>
    <button>Test Button</button>
</div>
<div>
    <button>Test Button</button>
</div>
<div>
    <button>Test Button</button>
</div>
<div>
    <button>Test Button</button>
</div>
<div>
    <button>Test Button</button>
</div>
<div>
    <button>Test Button</button>
</div>
<div>
    <button>Test Button</button>
</div>
<div>
    <button>Test Button</button>
</div>
<div>
    <button>Test Button</button>
</div>
<div>
    <button>Test Button</button>
</div>
<div>
    <button>Test Button</button>
</div>
<div>
    <button>Test Button</button>
</div>
<div>
    <button>Test Button</button>
</div>
<div>
    <button>Test Button</button>
</div>
<div>
    <button>Test Button</button>
</div>
<div>
    <button>Test Button</button>
</div>
<div>
    <button>Test Button</button>
</div>
<div>
    <button>Test Button</button>
</div>
<div>
    <button>Test Button</button>
</div>

