
<app-nav-left></app-nav-left>

<app-nav-top></app-nav-top>

<div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
</div>



<div>
    <div *ngIf="logInService.homeOrCreateUser">
        <app-home></app-home>
    </div>
    
    <div *ngIf="!logInService.homeOrCreateUser">
        <app-create-user></app-create-user>
    </div>

    <div *ngIf="logInService.showContact">
        <app-contact></app-contact>
    </div> 
    <div *ngIf="logInService.showAccount">
        <app-account></app-account>
    </div> 
    <div *ngIf="logInService.showDashboard">
        <app-dashboard></app-dashboard>
    </div> 
</div>


